versions = {
    redis = "latest"
    payments = "v0.0.16"
    postgres = "v0.0.21"
    product-api = "v0.0.21"
    public-api = "v0.0.6"
    frontend = "v1.0.3"
    nginx = "alpine"
}

registry = "<your_registry>"

# Use "platform=linux/arm64" if you want to deploy on an ARM64 architecture like Apple M1
platform = "linux/amd64"